<h1>Datos de Persona</h1>
<p>Ejemplo de uso de Hash en Rails</p>

<table class="tabla-datos">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Teléfono</th>
      <th>Correo</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @persona[:nombre] %></td>
      <td><%= @persona[:apellido] %></td>
      <td><%= @persona[:telefono] %></td>
      <td><%= @persona[:correo] %></td>
    </tr>
  </tbody>
</table>
